# Godot 4+ specific ignores
.godot/
*.import

# Exclude "proprietary" assets
Audio/
Graphics/
Shaders/
*.spc

#Object files
*.o
*.so
*.os

bin/*
demo/*
godot-cpp/*

#vscode
.vscode/*

#scons
.sconsign.dblite

